/* Style.css */
* {
    margin:0;
    padding:0;
}
/* *****************HEADER***************** */
body {
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

section {
    padding-top:40px;
    padding-bottom: 40px;
}

#header {
    background-image: url('./Aspen2.png');
    max-width:100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#header > div {
    position: relative;
}
#header-block {
    position: absolute;
    left:35%;
    width: 30%;
    margin-top: 10vh;
    padding:30px;
    text-align: center;
    background: rgba(204, 204, 204, 0.9);  
    border-radius: 10px;
    overflow: hidden;
}
#header-block h1 {
    font-size: 8vh;
    text-align: center;
    color: #000000;
}

#header-block h2 {
    font-size: 4vh;
}

/*******************NAV BAR**************** */
#nav-bar {
    padding: 0;
}

#nav-bar #nav-container {
    background-color: black;
    padding-top:30px;
    padding-bottom: 30px;
    background: rgba(208, 231, 221, 0.9)
}

#nav-bar ul {
    display: flex;
    justify-content: center;
    text-align: center;
}
#nav-bar ul a {
    margin-right:15px;
    text-decoration: none; 
}
#nav-bar ul a:visited {
    text-decoration: none; 
}
#nav-bar ul a:hover{
    text-decoration: none; 
}
#nav-bar ul a:hover{
    text-decoration: none; 
}
#nav-bar ul li {
    display: inline;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
/* *****************SKILLS***************** */
#skills {
    background-color: lightblue;
    text-align: center;
}

#skills #icons {
    max-width: 75rem;
    margin: auto;
}

#skills #icons .devicon {
    font-size:10rem;
}

/* *****************PROJECTS***************** */
#section-projects {
    background-color: lightsalmon;
}

#section-projects .project {
    padding-top: 5px;
    max-width: 75rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#section-projects hr {
    border-top: 3px solid black;
}

.project > div {
    display: inline-block;
    width: 50%;
}

.project .project-desc {
    justify-content: left;
    align-self: center;
    width: 25%;
}

.project .project-img {
    text-align: right;
   width: 75%;
}

#section-projects .project div img {
    width: 100%;
    max-width: 400px;
    flex-basis: auto;
}

.section-header-text {
    font-size: 60px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

/* *****************CONTACT ME***************** */

#contact-me img {
    max-width: 150px;
    width: auto;
    height: auto;
}