/* Style.css */
* {
    margin:0;
    padding:0;
}
/* *****************HEADER***************** */
body {
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

section {
    padding-top:20px;
    padding-bottom: 40px;
}

#section-home {
    background-image: url('./mammoth.png');
    margin: 0;
    max-width:100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#section-home > div {
    position: relative;
}
#header-block {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 700px;
    margin-top: 20vh;
    padding:30px;
    text-align: center;
    background: rgba(204, 204, 204, 0.9);  
    border-radius: 10px;
    overflow: hidden;
}

.fadeIn {
    animation: fadeInLoad 5s;
}

@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#header-block h1 {
    font-size: 8vh;
    text-align: center;
    color: #000000;
}

#header-block h2 {
    font-size: 4vh;
}

/*******************NAV BAR**************** */
#nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    padding-top:10px;
    padding-bottom: 10px;
    background: rgba(204, 204, 204, 0.9);
    animation: fadeInLoad 5s;
}

#nav-container ul {
    display: flex;
    justify-content: center;
    text-align: center;
}
#nav-container ul a {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none; 
    color: black;
}
#nav-container ul a:visited {
    text-decoration: none; 
}
#nav-container ul a:hover{
    text-decoration: none; 
}
#nav-container ul a:active{
    text-decoration: none; 
}
#nav-container ul li {
    display: block;
}

.topnav {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
/* *****************SKILLS***************** */
#section-skills {
    background-color: white;
    text-align: center;
}

#section-skills #icons {
    max-width: 80rem;
    margin: auto;
}

#section-skills #icons .devicon {
    font-size:10rem;
}

/* *****************PROJECTS***************** */
#section-projects {
    background-color: rgba(0, 255, 255, 0.5);
}

#section-projects .project {
    padding-top: 5px;
    max-width: 75rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.project > div {
    display: inline-block;
    width: 50%;
}

.project .project-desc {
    justify-content: left;
    align-self: center;
    width: 25%;
}

.project .project-img {
    text-align: right;
   width: 75%;
}

#section-projects .project div img {
    width: 100%;
    max-width: 400px;
    flex-basis: auto;
}

.section-header-text {
    font-size: 60px;
    text-align: center;
    padding-bottom: 15px;
}

/* *****************CONTACT ME***************** */
#section-contact {
    background-color: rgba(255, 9, 9, 0.6);
}
#section-contact .container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#section-contact .container div {   
    width: 50%;
}

#contact-header a{
    display:block;  
    padding-left: 50px;
    text-align: left;  
}

#contact-header i {
    margin: 14px;
}

#contact-body {
    text-align: right;
}
#contact-body img {
    max-width:500px;
}

/*********************FOOTER**********************/
#section-footer {
    max-height: 400px;
}

#section-footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#footer-nav ul a {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

#footer-nav ul a:visited {
    text-decoration: none;
}

#footer-nav ul a:active {
 text-decoration: none;
}

#footer-nav ul a:hover {
    text-decoration: none;
}

@media (max-width: 1142px){
    #section-skills #icons .devicon{
       font-size: 180px;
       margin: 
    }
}

@media (max-width: 1000px) {
    #nav-bar {
        display:none;
    }
    .topnav {
        position: fixed;
        top: 0;
        width: 100%;
        display: block;

        background-color: #333;
      }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
      .topnav #myLinks {
        display: none;
      }

      /* Style navigation menu links */
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 45px;
        display: block;
        height: 100px;
      }
      
      /* Style the hamburger menu */
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      /* Add a grey background color on mouse-over */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Style the active link (or home/logo) */
      .active {
        background-color: #4CAF50;
        color: white;
        height: 200px;
      }
}