/* Style.css */
* {
    margin:0;
    padding:0;
}
/* *****************HEADER***************** */
body {
    font-family:  'Hepta Slab', 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

section {
    padding-top:20px;
    padding-bottom: 40px;
}

section > h1 {
    
}

#section-home {
    background-image: url('./mammothgreyscale.png');
    margin: 0;
    max-width:100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#section-home > div {
    position: relative;
}
#header-block {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 700px;
    margin-top: 20vh;
    padding:30px;
    text-align: center;
    background: rgb(119, 178, 245, .9);  
    border: 2px solid rgb(32, 85, 146);
    box-shadow: 3px 3px rgb(3, 58, 122);
    border-radius: 10px;
    overflow: hidden;
    font-weight: bold;
}
#button-container {
    text-align: center;
    margin-top: 48vh;
}

#button-container a {
    display:inline-block;
    margin: 15px;
}

.fadeIn {
    animation: fadeInLoad 5s;
}

@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#header-block h1 {
    font-size: 8vh;
    text-align: center;
    color: #000000;
}

#header-block h2 {
    font-size: 4vh;
}

#header-block h4 {
    padding-top:10px;
}

/*******************NAV BAR**************** */
#nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    padding-top:10px;
    padding-bottom: 10px;
    background: rgb(119, 178, 245, .9);
    animation: fadeInLoad 5s;
}

#nav-container ul {
    display: flex;
    justify-content: center;
    text-align: center;
}
#nav-container ul a {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none; 
    color: black;
    cursor: pointer;
}
#nav-container ul a:visited {
    text-decoration: none; 
}
#nav-container ul a:hover{
    text-decoration: none; 
}
#nav-container ul a:active{
    text-decoration: none; 
}
#nav-container ul li {
    display: block;
}

.topnav {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
/* *****************SKILLS***************** */
#section-skills {
    background-color:  rgb(55, 86, 126);
    text-align: center;
}

#section-skills #icons {
    max-width: 70rem;
    margin: auto;
}

#section-skills #icons .devicon {
    font-size:10rem;
}

/* *****************PROJECTS***************** */
#section-projects {
    background-color: rgb(192, 191, 191);
    padding: 20px;
}

#section-projects .project {
    padding-top: 5px;
    max-width: 70rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    background-color: rgb(119, 178, 245, .5);
    border: 2px solid rgb(32, 85, 146);
    box-shadow: 3px 3px rgb(3, 58, 122);
    border-radius: 8px;
    padding: 30px;
}

.project > div {
    display: inline-block;
    width: 50%;
}

.project .project-desc {
    justify-content: left;
    /* align-self:center */
    width: 50%;
}


.project .project-img {
   text-align: right;
   width: 50%;
}

.project #disco-db-project-img {
    text-align: left;
    width: 60%;
}

.project  #disco-db-project-desc {
    text-align: left;
    width: 40%;
}

.project-img img {
    width: 100%;
    max-width: 425px;
    flex-basis: auto;
    margin-right: 40px;
}
#disco-db-project-img #disco-db-img {
    width: 100%;
    max-width: 550px;
    margin-right:0;
}

#disco-db-project-desc hr {
    max-width: 350px;
}

#disco-db-project-desc h1{
    margin: 8px;
    padding-left: 20px;
    font-size: 36px;
}

#disco-db-project-desc p {
    font-size: 18px;
    padding-left: 20px;
    margin: 8px;
}

#disco-db-project-desc a {
    font-size: 18px;
    margin: 8px;
}
#disco-db-project-desc > div {
    padding-left: 20px;
}

.project-break {
    border: 2px solid black;
    margin-top: 15px;
    max-width: 400px;
}

.project .project-desc h1 {
    margin: 8px;
}

.project .project-desc p {
    margin: 8px; 
}

.project .project-desc a {
    margin: 8px;
}

.project #disco-db-project-desc * {
    margin: 8px;
    width: 380px;
}
.project-desc h1 {
    font-size: 36px;
}

.project-desc p {
    font-size: 18px;
}

.project-desc a {
    font-size: 18px;
}

.section-header-text {
    font-size: 60px;
    text-align: center;
}

.project-desc a button {
    display: inline;
    max-width: 50px;
}

/* *****************CONTACT ME***************** */
#section-contact {
    background-color: rgb(55, 86, 126);
}

#section-contact .container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#section-contact .container div {   
    width: 50%;
}

#contact-header a{
    display:block;  
    padding-left: 50px;
    text-align: left;  
}

#contact-header i {
    margin: 14px;
}

#contact-body {
    text-align: right;
}
#contact-body img {
    max-width:500px;
}

/*********************FOOTER**********************/
#section-footer {
    max-height: 400px;
    background-color: rgb(192, 191, 191);
}

#section-footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#footer-nav ul a {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 18px;
}

#footer-nav ul a:visited {
    text-decoration: none;
}

#footer-nav ul a:active {
  text-decoration: none;
}

#footer-nav ul a:hover {
    text-decoration: none;
}

a.anchor-tag {
    color: black;
    text-decoration: none;
}
a.anchor-tag:visited {
    text-decoration:none;
}

a.anchor-tag:active {
    text-decoration: none;
}

a.anchor-tag:hover {
    text-decoration: none;
}

.button {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background: rgb(119, 178, 245, .9);  
	border-radius:2px;
    border: 1px solid rgb(32, 85, 146);
    box-shadow: 2px 2px rgb(3, 58, 122);
    display:inline-block;
    max-width: 75px;
    text-align: center;
    cursor:pointer;
    color: black;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.button:hover {
	background:linear-gradient(to bottom, #77b2f5 5%, #7892c2 100%);
	background-color:#476e9e;
}
.button:active {
	position:relative;
	top:1px;
}

@media (max-width: 1142px){
    #section-skills #icons .devicon{
       font-size: 180px;
       margin: 
    }
}

@media (max-width: 1000px) {
    #nav-bar {
        display:none;
    }
    .topnav {
        position: fixed;
        top: 0;
        width: 100%;
        display: block;

        background-color: #333;
      }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
      .topnav #myLinks {
        display: none;
      }

      /* Style navigation menu links */
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 45px;
        display: block;
        height: 100px;
      }
      
      /* Style the hamburger menu */
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      /* Add a grey background color on mouse-over */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Style the active link (or home/logo) */
      .active {
        background-color: #4CAF50;
        color: white;
        height: 200px;
      }
}